*{
    margin: 0;
    padding: 0;  
}
li{
    text-decoration: none;
    border: black solid 1px;
    border-collapse: collapse;

}
h1{
    text-align: center;
}
.container{
    /* display: flex; */
    border: orange solid 5px;
}
.names{
    display: flex;
    background-color: grey;
}
.description{
    background-color: blue;
    width: 100%;
    flex-direction: column;

}
.container-describe{
    display: flex;
    border:purple solid 3px;
}
.picture{
    width: 60px;
    height: 60px;
    background-color: black;
}
.star-name{
    /* width: 60px;
    height:20px; */
    background-color: green;
}
.star-describe{
    width: 100%;
    background-color: yellow;
    /* flex-direction: row-reverse; */

}

