*{
    margin: 0;
    padding: 0;  
}
header{
    display: flex;
}
li{
    text-decoration: none;
    border: black solid 1px;
    border-collapse: collapse;

}
h1{
    text-align: center;
}
.container{
    /* display: flex; */
    border: black solid 1px;
}
.names{
    display: flex;
}
.description{
    width: 100%;
    flex-direction: column;

}
.container-describe{
    display: flex;
}
.picture{
    width: 60px;
    height: 60px;
}
.star-name{
    /* background-color: green; */
    width: 100px;
}
.star-describe{
    width: 100%;
    
}
img{
    width:60px;
    height: 60px;
    border: 2px solid white;
    /* box-shadow: 5px 5px 5px black; */
}
